
<li> <%= gravatar_for @micropost.user, size: 35 %> </li>
<li> <%= link_to @micropost.user.name, current_user %></li>
<p><%= @micropost.content %></p>
<li><%= @micropost.miclikers.count %>likers</li>
<li><%= @micropost.miccomments.count %>comments</li>
